{% extends "page.html" %}
{% block content %}
  {% for tell in tells %}
    <div class="tell">
      <p>{{ tell.text }}</p>
      {% if tell.has_image %}
        <img src="/attachments/{{ tell.id|string }}.png" alt="" id="tell-preview" />
      {% endif %}
      <div class="icons">
        {% if tell.has_image %}
          <a href="/attachments/{{ tell.id|string }}.png" download="{{ tell.id|string }}.png">
            <img src="/static/img.svg" alt="Download attachment" class="icon" />
          </a>
        {% endif %}
        <a href="/picture-tell/{{ tell.id }}" download="{{ tell.id|string }}.png">
          <img src="/static/download.svg" alt="Download tell" class="icon" />
        </a>
      </div>
    </div>
  {% endfor %}
{% endblock %}
