{% extends "page.html" %}
{% block content %}
  <p class="gray">Zatím jste poslali {{ count }} drbů</p>
  <form action="sent" method="post" enctype="multipart/form-data">
    <textarea name="text" id="tell" rows="10" required></textarea>
    <details>
      <summary>Klidně dejte i obrázek nebo videjko</summary>
      <input type="file" name="media" accept="image/*,video/*" />
    </details>
    <input type="submit" value="Odeslat" />
  </form>
  <div id="links">
    <p><a href="https://kdotoje.porgazeen.cz">❓ Inicály</a></p>
    <p><a href="https://highlights.porgovskadrbna.cz">🍆 Vyhledat ve starších drbech</a></p>
    <p><a href="https://pijeme.porgovskadrbna.cz">🍺 Pije celý PORG</a></p>
    <p><a href="https://porghub.cz">😂 PORGhub</a></p>
  </div>
{% endblock %}
